<div class="small-12 columns small-centered user-list-view">
  <% admins_only do %>
    <h5>Admin Actions:</h5>
    <%= link_to "List products", "/products", :class => "small button radius admin" %>
    <%= link_to "Add a new product", new_product_path, :class => "small button admin" %>
  <% end %>
  <% if user_signed_in? %>
    <% if current_user.items.length == 0 %>
      <h3 class="to-start">To start...</h3>
      <%= link_to "Add an Item to your list", new_item_path, :class => "large button radius" %>
    <% else %>
      <h3>Your WishElist</h3>
      <%= link_to "Add an Item to your list", new_item_path, :class => "small button radius add-button success" %>
      <%= form_tag remove_items_path, :method => :delete do %>
        <ul id="items" class="list-layout">
          <% current_user.items.each do |item| %>
            <li class="cf" id='item_<%= item.id %>'>
              <%= check_box_tag "items[#{item.product_id}]", "#{item.id}" %> |
              <%= item.id %> |
              <%= link_to item.product_id, item %> |
              <%= item.quantity %>
            </li>
          <% end %>
        </ul>
        <%= submit_tag "Remove Checked", :class => "button radius alert small" %>
      <% end %>
    <% end %>
  <% else %>
    <div class="introduction">
    <h3>Sign up to begin building your WishElist.</h3>
      <%= link_to "Sign up", new_user_registration_path, :remote => true, :data => { :replace => "#modal-container", "reveal-id" => "myModal" }, :class => "large button success radius" %>
      <div class="sign-in-container">
        ...or alternatively,&nbsp; <%= link_to "Sign in", new_user_session_path, :remote => true, :data => { :replace => "#modal-container", "reveal-id" => "myModal" }, :class => "tiny button" %>
      </div>
    </div>
  <% end %>
</div>
