<div class="small-12 columns small-centered user-list-view">
  <h3>Add an Item</h3>

  <ul id="productlist" class="list-layout">
    <div class="row">
    <% @products.each do |p|  %>
      <li class="cf" id='product_<%= p.id %>'>
        <div class="small-1 columns">
          <% if item = @list.has_item?(p) %>
            <%= link_to "Remove", item_path(item), :method => "delete",
            :id => "remove_product#{p.id}", :class => "button radius small alert" %>
          <% else %>
            <%= link_to "Add", items_path(:product => p), :method => "post",
            :id => "add_product#{p.id}", :class => "button radius small success" %>
          <% end %>
        </div>
        <div class="small-11 columns">
          <h4><%= p.name %></h4>
          <%= raw p.description %>
        </div>
      </li>
    <% end %>
    </div>
  </ul>
</div>
