<h2>Edit product</h2>


<% if @product.image.exists? %>
  <h3>Attached Image</h3>
  <div id="product" class="image">
    <img src='<%= @product.image.url %>'>
    <p>
      <%= link_to File.basename(@product.image.path),@product.image.url %>
    </p>
    <p><small><%= number_to_human_size(@product.image.size) %>
	(<%= @product.image.content_type %>)</small></p>
  </div>
<% end %>

<%= render "edit_product_form" %>
