<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "WishE" %></title>

  	<%= stylesheet_link_tag    "application" %>
    <link href='http://fonts.googleapis.com/css?family=Leckerli+One' rel='stylesheet' type='text/css'>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row">
      <div class="small-6 columns"><h1><%= link_to "WishElist", root_url %></h1></div>
      <div class="small-6 columns">
        <nav class="subheader">
          <% if user_signed_in? %>
            Signed in as <em><%= current_user.email %></em>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete, :class => "small button" %>
          <% else %>
            <ul class="button-group">
              <li><%= link_to "Sign up", new_user_registration_path, :remote => true, :data => { :replace => "#modal-container", "reveal-id" => "myModal" }, :class => "small button" %></li>
              <li><%= link_to "Sign in", new_user_session_path, :remote => true, :data => { :replace => "#modal-container", "reveal-id" => "myModal" }, :class => "small button" %></li>
            </ul>
          <% end %>
        </nav>
        <div id="myModal" class="reveal-modal">
          <a class="close-reveal-modal">&#215;</a>
          <div id="modal-container"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <% flash.each do |key, value| %>
          <div class='flash <%= key %> label radius' id='<%= key %>'>
            <%= value %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <%= yield %>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>
